
        #page-topbar {
          left: 50%;
          position: absolute;
          }
          
          .main-content {
            margin-top: 20px;
          }
          
          #layout-wrapper {
            position: relative;
            top: 0%;
            position: absolute;
            width: 70%;
            left: 20%;
          }
          /* para el header*/
        .sing-in-cont{  
          position: relative;
          margin: 10px;
        }

        .topnav {
            position: absolute;
            top: 5%
        
        }
        
        .row{
            margin-top: 10px;
        
        }
        #sign-in{
        position: relative;
        justify-content: end;
        width: 100%;
        height: 10%;
        z-index: 0;
        }
        
        .content-img-header{
          position: relative;
          width: 80%;
        }
        .menu-header{
          position: relative;
        }
        
        .header {
          position: relative;
          left: 5%;
          width: 90%;
          height: 30%;
          display: block;
          z-index: 0;
        }
        /* para el header*/